body {
  background-color: #ddaaff;
  background-image: url("https://res.cloudinary.com/startup-grind/image/upload/c_fill,w_500,h_500,g_center/c_fill,dpr_2.0,f_auto,g_center,q_auto:good/v1/gcs/platform-data-dsc/events/postman%20logo.png");
  background-size: 25%;
}
